<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= @peca.tema %></span>
	</div>
	<div class="mws-panel-body" style="background-color: white;">
		<%= raw @peca.texto %>

		<br />

		<b>Autor: </b> <%= raw @peca.autor.nome %>

		<br /><br />
		<a href="javascript:void(0);" onclick="window.print();" style="color: black;"><i class="icon-print"></i> Imprimir</a>
	</div>
</div>