<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-bold"></i> Texto</span>
	</div>
	<div class="mws-panel-body no-padding">
		<form class="mws-form" action="#">

			<%= raw @peca.texto %>

			<div class="mws-button-row">
				<input type="reset" value="Voltar" class="btn" onclick="window.location.href='/pecas';">
			</div>
		</form>
	</div>
</div>