<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<div style="float: right; margin-top: -4px;">
			<%#= link_to "Novo irmão", new_fundador_path(:loja_id => session[:loja_id]), :class => "btn btn-success"# if can? :criar_irmao, @loja %>
		</div>

		<span>Irmãos</span>
	</div>

	
	</div>
</div>